:root{
	--wd-top-bar-h: 41px;
	--wd-top-bar-sm-h: 0.001px;
	--wd-top-bar-sticky-h: 0.001px;

	--wd-header-general-h: 105px;
	--wd-header-general-sm-h: 60px;
	--wd-header-general-sticky-h: 0.001px;

	--wd-header-bottom-h: 50px;
	--wd-header-bottom-sm-h: 60px;
	--wd-header-bottom-sticky-h: 0.001px;

	--wd-header-clone-h: 60px;
}

.whb-top-bar .wd-dropdown {
	margin-top: 0.5px;
}

.whb-top-bar .wd-dropdown:after {
	height: 10.5px;
}


.whb-header-bottom .wd-dropdown {
	margin-top: 5px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 15px;
}


.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -0px;
	margin-bottom: -1px;
	height: calc(100% + 1px);
}

.whb-clone.whb-sticked .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 10px;
}

.whb-clone.whb-sticked .wd-dropdown:not(.sub-sub-menu):after {
	height: 20px;
}

@media (min-width: 1025px) {
		.whb-top-bar-inner {
		height: 41px;
		max-height: 41px;
	}

		
		.whb-general-header-inner {
		height: 105px;
		max-height: 105px;
	}

		
		.whb-header-bottom-inner {
		height: 50px;
		max-height: 50px;
	}

		
			.whb-clone .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	}

@media (max-width: 1024px) {
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
		.whb-header-bottom-inner {
		height: 60px;
		max-height: 60px;
	}
	
			.whb-clone .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	}
		
.whb-top-bar {
	background-color: rgba(9, 33, 67, 1);border-color: rgba(58, 77, 105, 1);border-bottom-width: 1px;border-bottom-style: solid;
}

.whb-9x1ytaxq7aphtb3npidp .searchform {
	--wd-form-height: 46px;
}
.whb-general-header {
	background-color: rgba(9, 33, 67, 1);border-bottom-width: 0px;border-bottom-style: solid;
}
.whb-wjlcubfdmlq3d7jvmt23 .menu-opener { background-color: rgba(255, 255, 255, 1); }.whb-wjlcubfdmlq3d7jvmt23 .menu-opener { border-color: rgba(129, 129, 129, 0.2);border-bottom-width: 1px;border-bottom-style: solid;border-top-width: 1px;border-top-style: solid;border-left-width: 1px;border-left-style: solid;border-right-width: 1px;border-right-style: solid; }
.whb-e6fk2q1nh63jdb1d9uvu .searchform {
	--wd-form-height: 42px;
}
.whb-header-bottom {
	border-color: rgba(129, 129, 129, 0.2);border-bottom-width: 1px;border-bottom-style: solid;
}
