:root{
	--wd-top-bar-h: 0.001px;
	--wd-top-bar-sm-h: 0.001px;
	--wd-top-bar-sticky-h: 0.001px;

	--wd-header-general-h: 100px;
	--wd-header-general-sm-h: 65px;
	--wd-header-general-sticky-h: 70px;

	--wd-header-bottom-h: 0.001px;
	--wd-header-bottom-sm-h: 0.001px;
	--wd-header-bottom-sticky-h: 0.001px;

	--wd-header-clone-h: 0.001px;
}


.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 15px;
}

.whb-sticked .whb-general-header .wd-dropdown:not(.sub-sub-menu):after {
	height: 25px;
}



@media (min-width: 1025px) {
	
		.whb-general-header-inner {
		height: 100px;
		max-height: 100px;
	}

		.whb-sticked .whb-general-header-inner {
		height: 70px;
		max-height: 70px;
	}
		
	
	
	}

@media (max-width: 1024px) {
	
		.whb-general-header-inner {
		height: 65px;
		max-height: 65px;
	}
	
	
	
	}
		
.whb-general-header {
	border-color: rgba(0, 0, 0, 0.05);border-bottom-width: 1px;border-bottom-style: solid;
}

.whb-header-bottom {
	border-bottom-width: 0px;border-bottom-style: solid;
}
