#slider-233 .wd-slide {
	min-height: 600px;
}

@media (max-width: 1024px) {
	#slider-233 .wd-slide {
		min-height: 500px;
	}
}

@media (max-width: 768px) {
	#slider-233 .wd-slide {
		min-height: 640px;
	}
}
