:root{
	--wd-top-bar-h: 42px;
	--wd-top-bar-sm-h: 38px;
	--wd-top-bar-sticky-h: 0.001px;

	--wd-header-general-h: 105px;
	--wd-header-general-sm-h: 60px;
	--wd-header-general-sticky-h: 0.001px;

	--wd-header-bottom-h: 52px;
	--wd-header-bottom-sm-h: 0.001px;
	--wd-header-bottom-sticky-h: 0.001px;

	--wd-header-clone-h: 60px;
}

.whb-top-bar .wd-dropdown {
	margin-top: 1px;
}

.whb-top-bar .wd-dropdown:after {
	height: 11px;
}


.whb-header-bottom .wd-dropdown {
	margin-top: 6px;
}

.whb-header-bottom .wd-dropdown:after {
	height: 16px;
}


.whb-header .whb-header-bottom .wd-header-cats {
	margin-top: -1px;
	margin-bottom: -1px;
	height: calc(100% + 2px);
}

.whb-clone.whb-sticked .wd-dropdown:not(.sub-sub-menu) {
	margin-top: 10px;
}

.whb-clone.whb-sticked .wd-dropdown:not(.sub-sub-menu):after {
	height: 20px;
}

@media (min-width: 1025px) {
		.whb-top-bar-inner {
		height: 42px;
		max-height: 42px;
	}

		
		.whb-general-header-inner {
		height: 105px;
		max-height: 105px;
	}

		
		.whb-header-bottom-inner {
		height: 52px;
		max-height: 52px;
	}

		
			.whb-clone .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	}

@media (max-width: 1024px) {
		.whb-top-bar-inner {
		height: 38px;
		max-height: 38px;
	}
	
		.whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	
			.whb-clone .whb-general-header-inner {
		height: 60px;
		max-height: 60px;
	}
	
	}
		
.whb-top-bar {
	background-color: rgba(0, 123, 196, 1);
}

.whb-9x1ytaxq7aphtb3npidp .searchform {
	--wd-form-height: 46px;
}
.whb-general-header {
	border-color: rgba(232, 232, 232, 1);border-bottom-width: 1px;border-bottom-style: solid;
}
.whb-wjlcubfdmlq3d7jvmt23 .menu-opener { background-color: rgba(0, 123, 196, 1); }
.whb-header-bottom {
	border-color: rgba(232, 232, 232, 1);border-bottom-width: 1px;border-bottom-style: solid;
}
